main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
footer {
    border-top: 1px solid #ba7;
    padding: 1rem;
    margin-top: 1rem;
    background: #ffc;
    grid-area: footer;
}

footer li {
    display: inline-block;
    list-style: none;
}

footer li a {
    text-decoration: none;
    border: 1px solid gray;
    display: inline-block;
    padding: .5rem 1rem;
}

footer li a:hover {
    background: #ffe;
}

article {
    grid-area: content;
    overflow: auto;
    padding: 0 1rem;
}

header {
    grid-area: header;
    padding: 0 1rem;
}

.tools li {
    display: block;
    list-style: none;
}
.tools li a {
    text-decoration: none;
    border: 1px solid gray;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .5rem;
    min-width: 5rem;
}
.tools li a:hover{
    background: #eff;
}