<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>About</title>
    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
</head>
<body>
<main>
    <header>
        <h1>پروژه پایانی دوره پیشرفته پایتون</h1>
        <h2>درباره</h2>
        <hr/>
    </header>
    <article>
        <p>
            این پروژه مبتنی بر آموزش‌های دوره پیشرفته پایتون استاد جادی در مکتبخونه پیاده سازی شده.<br/>
            در حد توان به عنوان اولین پروژه پایتون و قاعدتا اولین پروژه Django سعی کردم در مدت کوتاهی که فرصت داشتم (دیر شروع کردم!) 
            کار قابل قبولی ارائه بدم.<br/>
        </p>
        <p>
            کاری که این پروژه انجام می‌ده اینه که داده‌های ماشین‌ها رو از سایت <a href="http://bama.ir" target="_blank">&#x29C9; bama.ir</a>
            دریافت (fetch) می‌کنه، و با استفاده از درخت تصمیم (Decision Tree) از کتابخونه
            <a href="https://scikit-learn.org/stable/" target="_blank">&#x29C9; scikit-learn</a> ماشین رو آموزش میده.
            نتیجه باید این شکلی باشه که نام، اطلاعات، مدل و کارکرد ماشین رو بگیره و قیمت رو حدس بزنه.<br/>
            پیش بینی اونطور که باید نیست و برای گرفتن نتیجه بهتر باید اطلاعات خیلی دقیق و شبیه داده‌های سایت باما (بدون کاما) وارد بشن. <strong>اما</strong>
            به نظر می‌رسه راه حل بهتر شدنش اینه که اولا داده‌ها بیشتر مورد پیش پردازش قرار بگیرن. مثلا از قسمت اطلاعات اضافه ماشین
            چیزهایی مثل «دنده‌ای» یا «اتومات» بودن هم جدا بشن و به عنوان فیچر مستقل برای آموزش ماشین مورد استفاده قرار بگیرن.<br/>
            و مهمتر از اون اینه که احتمالا درخت تصمیم برای این کار چندان مناسب نیست. شاید در فرصت بهتر (حداقل برای آموزش خودم)
            با استفاده از شبکه عصبی این پروژه رو تکمیل کنم.<br/>
        </p>
        <p>
            کدهایی که در حین دیدن این آموزش برای تست و یادگیری می‌نوشتم و همچنین همین پروژه در گیت‌هاب از طریق این آدرس در دسترس هستند:<br/>
            <a href="https://github.com/Rahmanism/pythonlearn" target="_blank">&#x29C9; https://github.com/Rahmanism/pythonlearn</a>
        </p>
        <p>&nbsp;</p>
        <p>
            با تشکر فراوان از مکتبخونه و خصوصا استاد «جادی» عزیز<br />
            سیدمصطفی رحمانی
        </p>
    </article>
    <footer>
        <ul>
            <li><a id="backToHome" href="/plproject/">بازگشت به صفحه اصلی!</a></li>
        </ul>
    </footer>
</main>
<body>
</html>
