<!doctype html>
<html>
<head>
    <meta charset=\"utf-8\">
    <title>Fetch data</title>
    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
</head>
<body>
<main>
    <header>
        <h1>پروژه پایانی دوره پیشرفته پایتون</h1>
        <h2>دریافت داده</h2>
        <p>داده‌ها از وب سایت <a href="http://bama.ir/" target="_blank">&#x29C9; bama.ir</a> دریافت خواهند شد.</p>
        <hr/>
    </header>
    <article>
        <h3>{{ message }}</h3>
        <p>
            اطلاعات چند ماشین دریافت شود؟<br/>
            <input type="number" id="howManyToFetch" min="1" max="200" value="20" onchange="numberChanged()"/>
        </p>
        <p>
            <a id="submitFetch" href="#">دریافت</a>
        </p>
    </article>
    <footer>
        <ul>
            <li><a id="backToHome" href="/plproject/">بازگشت به صفحه اصلی!</a></li>
        </ul>
    </footer>
</main>
<script type="text/javascript">
function numberChanged() {
    n = document.getElementById('howManyToFetch').value;
    l = './' + n;
    window.location = l;
}
</script>
<body>
</html>
